@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --color-primary: rgb(25, 29, 43);
  --color-secondary: #27ae60;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-white: #454e56;
  /* fonts */
  --font-Roboto: "Roboto", sans-serif;
}
*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-Roboto);
  background-color: var(--color-primary); 
  color: #fff; 
  width: 100%;
  min-height: 100vh;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/* Utility casses */
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
section{
  width: 100%;
  padding: 1rem 0 3rem 0;
}
.marker{
  color: var(--color-secondary);
}
#arrow{
  transform: rotate(-50deg);
}
html {
  scroll-behavior: smooth;
}
/* Hedear Start*/
#bars{
  display: none;
}
.mobileNav{
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a{
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
ul li a{
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar ul a:hover{
  color: var(--color-secondary);
}
.homeMenu{
  color: var(--color-secondary);
}
/* shadow */
.shadow{  
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30;
} 
/* Hedear End*/

/* Home start*/
#home .contains{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#home .content h2{
  font-size: 2rem;
  width: 350px;
  font-weight: bold;
}
#home .content h1{
  color: var(--color-secondary);
  margin-bottom: 1rem;
  width: 350px;
  font-weight: bold;
}
#home .content h4{
  color: var(--color-grey-2);
  margin-bottom: 1rem;
  width: 350px;
}
#home .content p{
  color: var(--color-grey-3);
  width: 450px;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: bold;
}
#home .buttons .btn{
  background-color: var(--color-secondary);
  padding: 0.8rem 1.5rem ;
  margin-right: 1rem;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  box-shadow: 0 0 10px 1.5px rgb(39, 174, 95);
  cursor: pointer;
  transition: all 0.3s ease;
}
#home .buttons .btn:hover{
  transform: scale(1.08);
  box-shadow: 0 0 10px 2px rgba(168, 212, 187, 0.575);
  letter-spacing: 0px;
}
#home .buttons i{
  margin-right: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3 ease;
}
#home .buttons i:hover{
  color: var(--color-secondary);
}
#home .pic{
  width: 400px;
  height: 400px;
  animation: anim1 2.5s ease-in-out  infinite alternate both;
}
@keyframes anim1{
  from{
    transform: translateY(10px);
  }to{
    transform: translateY(-10px)
  }
  
}
#home .pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
  box-shadow: 0 0 100px 50px rgba(93, 100, 96, 0.30);
  
}
/* typing effect in home */
.name::after{
  content: '|';
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/* messanger */
.messangerIcon{
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 50px;
  transition: 0.3s ease;
  animation: messanger 2s ease-in-out infinite alternate;
}
@keyframes messanger {
  from{
    transform: scale(1);
  }to{
    transform: scale(1.1);
  }
  
}
.messangerIcon img{
  width: 100%;
}
/* Home end*/

/* About start*/
#about .contains{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
#about .profile{
  width: 350px;
  height: 400px;
}
#about .profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
#about .mystory p{
  width: 600px;
  margin: 1rem 0;
  line-height: 1.5;
}
#about .skills{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
#about .skill{
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
#about .skill:hover{
  transform: scale(1.08);
}
.skills .img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-bottom: 0.5rem;  
}
#about .skills img{
  width: 40px;  
}
/* About end*/

/* Service start*/
#services .contains{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .desService{
  color: var(--color-grey-2);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
}
#services .items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}
#services .item1{
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 12px;
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease-out;
  height: 410px;
  width: 400px;

}
#services .item1:hover{
  border: 2px solid var(--color-secondary);
  box-shadow: 0 0 10px 1.5px rgb(39, 174, 95);
  transform: scale(1.03);
}
#services .item1:hover a{
  color: var(--color-secondary);
}
#services .item1:hover h1{
  color: var(--color-secondary);
}
#services .item1 .icons{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 2rem;
}
#services .item1 h1{
  margin-bottom: 1rem;
}
#services .item1 .paragraph{
  width: 350px;
  margin-bottom: 1rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
#services .item1 p{
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  
}
#services .item1 p i{
  color: var(--color-primary);
  margin-right: 0.3rem;
}
/* animation */
/* Service end*/

/* Portfolio start*/
#portfolio .contains{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .contains .marker{
  font-weight: bold;
  margin-bottom: 1rem;
}
.contains .desPortfolio{
  font-weight: bold;
  color: var(--color-grey-2);
  margin-bottom: 1rem;
}
#portfolio .cardWrapper{
  display: flex;
  align-items: center;
  position: relative;
  touch-action: pan-y;
}
.cardWrapper .buttons #next{
  position: absolute;
  right: 0;
  z-index: 200;
}
.cardWrapper .buttons #prev{
  position: absolute;
  left: -1.5rem;
  z-index: 200;
}
#portfolio .gallury{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1098px;
  gap: 1rem;
  margin-top: 2rem;  
  overflow: hidden;
}
#portfolio .project{
  background-color:  rgb(36, 39, 53);
  min-width: 350px;
  height: 380px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: slidAnim 0.3s ease  both;
}
#portfolio .project:hover .overlay , #portfolio .project:hover a{
  display: block;
}
  
@keyframes slidAnim{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
  
}
#portfolio .image{
  position: relative;
  height: 215px;
} 
#portfolio .image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px 12px 0 0 ;
}
#portfolio .project h2{
  margin: 0.5rem 1rem 0.5rem 1rem;
}
#portfolio .project p{
  margin: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-grey-1);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: none;
}
#portfolio #url{
  color: var(--color-primary);
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}
#portfolio a{
  display: none;
}
/* overlay */
.overlay{
  display: none;
  width: 100%;
  min-height: 99% ;
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;  
  border-radius: 12px 12px 0 0 ;
  z-index: 99;
  animation: overlayAnim 0.3s ease both;
}
@keyframes overlayAnim{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
  
}
/* buttons */
#prev , #next{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
#prev:hover , #next:hover{
  background-color: var(--color-secondary);
}
/* Portfolio end*/

/* contact start*/
#contact .contains{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#contact .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.9rem;
  width: 50%;
}
#contact .content .contactDes{
  color: var(--color-grey-1);
  font-size: 1rem;
  width: 400px;
  line-height: 1.3;
}
#contact .phone , #contact .email{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
}
#contact .phone i , #contact .email i{
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  color: var(--color-secondary);
  background-color: var(--color-white);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .phoneText h4  , #contact .emailText h4{
  color: var(--color-secondary);
  margin-bottom: 0.3rem;
}
#contact .socialLinks h2{
  color: var(--color-grey-3);
}
#contact .icons i{
  font-size: 1.6rem;
  margin: 1rem 0.5rem 0 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#contact .icons i:hover{
  color: var(--color-secondary);
  transform: scale(1.3);
}
/* form */
#contact .contactForm{
  width: 50%;
  background-color: var(--color-white);
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.contactForm h1{
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}
#contact input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  background-color: var(--color-primary);
  color: #fff;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
#contact textarea{
  background-color: var(--color-primary);
  color: #fff;
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 8px;
  resize: none;
  outline: none;
  font-size: 1rem;
}
#contact button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0.2rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px 1.5px rgb(39, 174, 95);
  border: none;
  border-radius: 12px;
  letter-spacing: 0px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#contact button:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px 2px rgba(168, 212, 187, 0.575);
  letter-spacing: 0.5px;
}
/* contact end*/

/* footer start*/
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-6);
  height: 60px;
  width: 100%;
}
.copyright p{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white);
}

/* footer end*/

@media screen and (max-width:750px){
  .navbar .desktop{
    display: none;
  }
  .mobileNav{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: var(--color-grey-6);
    width: 50%;
    height: 100vh;
    animation: navAnim 0.5s ease-out both;
  }
  @keyframes navAnim {
    from{
      transform: translateX(-100px);    
    }to{
      transform: translateX(0px);  
    }
  }
  .mobileNav .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem ;
  }
  .mobileNav .head #close{
    font-size: 1.5rem;
    color: var(--color-grey-3);
    cursor: pointer;
  }
  .mobileNav ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    margin: 3rem 1rem;
    color: var(--color-grey-2);
  }
  .mobileNav ul a{
    color: var(--color-grey-2);
  }
  .mobileNav ul li{
    transition: all 0.3s ease;
  }
  .mobileNav ul li:hover{
    color: var(--color-secondary);
  }
  #bars{
  display: block;
  font-size: 1.8rem;
  cursor: pointer;
  }
  /*header end*/
  /*home start*/
  #home .contains{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  }
  #home .pic{
    order: -1;
  }
  #home .pic{
    width: 300px;
    height: 300px;
  }
  #home .content p{
  width: 80%;
  }
  /*header end*/
  /*About start*/
  #about .contains{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  }
  #about .mystory p{
  width: 80%;
  margin: 1rem 0;
  }
  #about .skills{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
  /*About end*/
  /*Services start*/
  #services .item1{
    width: 340px;
    
  }
  #services .item1 .paragraph{
  width: 300px;
  }
  /*Services end*/  
  /*Portfolio start*/
  #portfolio .gallury{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 340px;
  gap: 1rem;
  margin-top: 2rem;  
  overflow: hidden;
  }
  #portfolio .project{
  background-color:  rgb(36, 39, 53);
  min-width: 300px;
  height: 380px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: slidAnim 0.3s ease  both;
  }
  /*Portfolio end*/  
  /*Contact start*/
  #contact .contains{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
  #contact .content{
  width: 100%;
} 
  #contact .content .contactDes{
  color: var(--color-grey-1);
  font-size: 1rem;
  width: 80%;
  line-height: 1.3;
  }
  #contact .contactForm{
  width: 100%;
  order: -1;
  margin-bottom: 1rem;
}
  /*Contact end*/  

}
